{% extends "auth_base.html" %} {% block content %} {% load static %}
<div class="row">
  <div class="col-lg-8 col-12 banner-sec">
    <div id="carouselIndicator" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselIndicator" data-slide-to="0"></li>
      </ol>
      <div class="carousel-inner" role="list-box">
        <div class="carousel-item active">
          <img
            class="d-block img-fluid"
            src="{% static '/assets/dist/img/carousel/sso-image1.png' %}"
            alt="First slide"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12 login-sec">
    <div class="text-center mb-2">
      <img src="{% static '/assets/dist/img/sso-logo.png' %}" width="30%" />
    </div>
    <form action="" id="form-login" method="post">
      {% csrf_token %}
      <h2 class="text-center">Login</h2>
      <div class="form-group">
        <input
          type="text"
          name="username"
          id="username-login"
          class="form-control"
          placeholder="NIM / Username"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          name="password"
          id="password-login"
          class="form-control"
          placeholder="Password"
        />
      </div>
      <div>
        <label for="" class="form-check-label"
          ><small><a href="#">Lupa Password?</a></small></label
        >
        <div class="float-right" style="padding-left: 0px; margin-top: -5px">
          <button type="submit" class="btn btn-login">Login</button>
        </div>
      </div>
      <hr />
      <div style="text-align: center" class="mb-3">
        <small
          >Tidak punya akun ?
          <a href="{% url 'accounts:radius_register' %}" class="tab-register"
            >Daftar Disini</a
          ></small
        >
      </div>
    </form>
  </div>
</div>
{% endblock content %}
