{% extends "auth_base.html" %} {% block content %} {% load static %}
<div class="row">
  <div class="col-lg-8 col-12 banner-sec">
    <div id="carouselIndicator" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselIndicator" data-slide-to="0"></li>
      </ol>
      <div class="carousel-inner" role="list-box">
        <div class="carousel-item active">
          <img
            class="d-block img-fluid"
            src="{% static '/assets/dist/img/carousel/sso-image1.png' %}"
            alt="First slide"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12 login-sec">
    <div class="text-center mb-2">
      <img src="{% static '/assets/dist/img/sso-logo.png' %}" width="30%" />
    </div>
    <form action="" id="form-login" method="post">
      {% csrf_token %}
      <h2 class="text-center">Registrasi</h2>
      <div class="form-group">
        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          placeholder="NIM / Username"
          required
        />
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <div class="input-group">
              <input
                type="text"
                name="nama_lengkap"
                id="nama_lengkap"
                class="form-control"
                placeholder="Nama Lengkap"
              />
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <div class="input-group">
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                placeholder="Password"
              />
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <div class="input-group">
              <input
                type="password"
                name="password_confirm"
                id="password_confirm"
                class="form-control"
                placeholder="Ulangi Password"
              />
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <select
              name="jenis_kelamin"
              id="jenis_kelamin"
              class="form-control"
            >
              <option value="">Laki-laki</option>
              <option value="">Perempuan</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <div class="input-group">
              <input
                type="text"
                name="no_hp"
                id="no_hp"
                class="form-control"
                placeholder="No HP"
              />
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="form-select">
            <div class="input-group">
              <input
                type="text"
                name="jurusan"
                id="jurusan"
                class="form-control"
                placeholder="Jurusan"
              />
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <div class="input-group">
              <input
                type="text"
                name="semester"
                id="semester"
                class="form-control"
                placeholder="Semester"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-8" style="padding-right: 5px">
            <button
              type="submit"
              id="register-submit-btn"
              class="btn btn-login btn-block"
            >
              Daftar
              <span
                class="spinner-border spinner-border-sm d-none"
                id="register-spinner"
                role="status"
                aria-hidden="true"
              >
                <span class="sr-only">Loading...</span>
              </span>
            </button>
          </div>
          <div class="col-4" style="padding-left: 5px">
            <span
              class="btn btn-warning btn-block"
              onclick="resetFormRegister()"
              >Reset</span
            >
          </div>
        </div>
      </div>
      <hr />
      <div style="text-align: center" class="mb-3">
        <small
          >Sudah punya akun ?
          <a href="{% url 'accounts:radius_login' %}" class="tab-register"
            >Login</a
          ></small
        >
      </div>
    </form>
  </div>
</div>

<script>
  function resetFormRegister() {
    $("#username").val("");
    $("#nama_lengkap").val("");
    $("#password").val("");
    $("#password_confirm").val("");
    $("#no_hp").val("");
    $("#jurusan").val("");
    $("#semester").val("");
  }

  function showPassword() {
    getType1 = document.getElementById("password");
    getType2 = document.getElementById("password_confirm");

    if (getType1.type === "password") {
      getType1.type = "text";
    } else {
      getType1.type = "password";
    }
    if (getType2.type === "password") {
      getType2.type = "text";
    } else {
      getType2.type = "password";
    }
  }
</script>
{% endblock content %}
