{% extends 'base.html' %}

<!-- block title -->
{% block title %}Accounting{% endblock title %}

<!-- block pagetitle -->
{% block pagetitle %}Accounting View{% endblock pagetitle %}

<!-- start content here -->
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-4 col-6">
    <!-- small box -->
    <div class="small-box bg-primary">
      <div class="inner text-center">
        <h3>{{total_record}}</h3>

        <p>Total Records</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner text-center">
        <h3>{{total_upload}}</h3>

        <p>Total Data Upload</p>
      </div>
      <div class="icon">
        <i class="fas fa-arrow-up"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-4 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner text-center">
        <h3>{{total_download}}</h3>

        <p>Total Data Download</p>
      </div>
      <div class="icon">
        <i class="fas fa-arrow-down"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title text-bold">
          <i class="fa fa-map-marker mr-1"></i>
          Summary
        </h3>

        <div class="card-tools">
          <div class="input-group input-group-sm"></div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-4">
        <table class="table table-hover table-bordered text-nowrap">
          <thead class="bg-primary">
            <tr class="text-center">
              <th>No.</th>
              <th>Session ID</th>
              <th>Username</th>
              <th>Auth Type</th>
              <th>Start Session</th>
              <th>Update Time</th>
              <th>End Session</th>
              <th>Total Time Usage</th>
              <th>Upload</th>
              <th>Download</th>
              <th>Device IP Address</th>
              <th>Terminate Cause</th>
            </tr>
          </thead>
          <tbody>
            {% for data in page_obj %}
            <tr>
              <td class="text-center">
                {{forloop.counter0|add:page_obj.start_index}}
              </td>
              <td>{{data.acctsessionid}}</td>
              <td>{{data.username}}</td>
              <td>{{data.nasporttype}}</td>
              <td>{{data.acctstarttime|date:"Y-m-d H:i"}}</td>
              <td>{{data.acctupdatetime|date:"Y-m-d H:i"}}</td>
              <td>{{data.acctstoptime|date:"Y-m-d H:i"}}</td>
              <td>{{data.acctstoptime|timeuntil:data.acctstarttime}}</td>
              <td>{{data.acctinputoctets|filesizeformat}}</td>
              <td>{{data.acctoutputoctets|filesizeformat}}</td>
              <td>{{data.callingstationid}}</td>
              <td>{{data.acctterminatecause}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- begin pagination -->
      {% include 'radius/includes/pagination.html' %}
      <!-- end pagination -->
    </div>
  </div>
</div>
{% endblock content %}
