{% extends 'base.html' %}

<!-- block title -->
{% block title %}Log Auth{% endblock title %}

<!-- block pagetitle -->
{% block pagetitle %}Log User Authentication{% endblock pagetitle %}

<!-- start content here -->
{% block content %} {% load humanize %}
<div class="row justify-content-center">
  <div class="col-lg-4 col-6">
    <!-- small box -->
    <div class="small-box bg-primary">
      <div class="inner text-center">
        <h3>{{total_record}}</h3>

        <p>Total Records</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner text-center">
        <h3>{{total_accept}}</h3>

        <p>Auth-Accept</p>
      </div>
      <div class="icon">
        <i class="fas fa-check"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-4 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
      <div class="inner text-center">
        <h3>{{total_reject}}</h3>

        <p>Auth-Reject</p>
      </div>
      <div class="icon">
        <i class="fas fa-frown"></i>
      </div>
    </div>
  </div>
  <!-- ./col -->
</div>
<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title text-bold">
          <i class="fa fa-list mr-1"></i> Summary
        </h3>

        <div class="card-tools">
          <div class="input-group input-group-sm"></div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-4">
        <table class="table table-hover table-bordered text-nowrap">
          <thead class="bg-info">
            <tr class="text-center">
              <th style="width: 10px">No.</th>
              <th>Username</th>
              <th>Status</th>
              <th>Last Authentication</th>
            </tr>
          </thead>
          <tbody>
            {% if page_obj %}
            <!-- -->
            {% for data in page_obj %}
            <tr>
              <td>{{forloop.counter0|add:page_obj.start_index}}</td>
              <td>{{data.username}}</td>
              {% if data.reply == 'Access-Accept' %}
              <td class="text-center">
                <span class="badge badge-success">SUCCESS</span>
              </td>
              {% elif data.reply == 'Access-Reject' %}
              <td class="text-center">
                <span class="badge badge-danger">FAILED</span>
              </td>
              {% else %}
              <td>UNKNOWN</td>
              {% endif %}
              <td>
                {{data.authdate|date:"Y-m-d H:i"}} /
                {{data.authdate|naturaltime}}
              </td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td colspan="4" class="text-center text-bold">No Data</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <!-- start pagination -->
      {% include 'radius/includes/pagination.html' %}
      <!-- end pagination -->
    </div>
  </div>
</div>
{% endblock content %}
