{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Masuk{% endblock title %} - SSO Poltekba</title>

    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="{% static '/assets/plugins/fontawesome-free/css/all.min.css' %}"
    />
    <!-- icheck bootstrap -->
    <link
      rel="stylesheet"
      href="{% static '/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}"
    />
    <!-- Theme style -->
    <link
      rel="stylesheet"
      href="{% static '/assets/dist/css/adminlte.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static '/assets/dist/css/optional.css' %}"
    />
  </head>
  <body>
    <div class="container">{% block content %}{% endblock content %}</div>
    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="{% static '/assets/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static '/assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static '/assets/dist/js/adminlte.min.js' %}"></script>
  </body>
</html>
