{% load static %}
<nav class="mt-2">
  <ul
    class="nav nav-pills nav-sidebar flex-column"
    data-widget="treeview"
    role="menu"
    data-accordion="false"
  >
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
          Overview
          <span class="right badge badge-info">Coming Soon</span>
        </p>
      </a>
    </li>
    <li class="nav-header">USAGES</li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-chart-area"></i>
        <p>Statistics</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'radius:usages-view' %}" class="nav-link">
        <i class="nav-icon fas fa-money-bill"></i>
        <p>Accounting</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'radius:log-auth-view' %}" class="nav-link">
        <i class="nav-icon fas fa-file"></i>
        <p>Authentication</p>
      </a>
    </li>
    <li class="nav-header">SETTINGS</li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-user"></i>
        <p>My Profile</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="nav-icon fas fa-edit"></i>
        <p>Change Password</p>
      </a>
    </li>
    <li class="nav-header">ADMIN AREA</li>
    <li class="nav-item menu-open">
      <a href="#" class="nav-link">
        <!-- add active -->
        <i class="nav-icon fas fa-users"></i>
        <p>
          Management
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <!-- add active here -->
            <i class="far fa-circle nav-icon"></i>
            <p>Active User</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Usage Summary</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Search User</p>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
