<!-- begin pagination -->
<div class="card-footer clearfix">
  {% if page_obj.has_other_pages %}
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
        &laquo; Prev
      </a>
    </li>
    {% if page_obj.number > 3 %}
    <li class="page-item">
      <a href="?page=1" class="page-link">1</a>
    </li>
    <li class="page-item">
      <a href="?page=2" class="page-link">2</a>
    </li>
    <li class="page-item">
      <a href="?page=3" class="page-link">3</a>
    </li>
    {% if page_obj.number > 4 %}
    <li class="page-item" disabled><a class="page-link">...</a></li>
    {% endif %} {% endif %} {% else %}
    <li class="page-item" disabled>
      <a class="page-link">&laquo; Prev</a>
    </li>
    {% endif %}
    <!-- -->
    {% for num in page_obj.paginator.page_range %}
    <!--  -->
    {% if page_obj.number == num %}
    <li class="page-item active">
      <a href="?page={{num}}" class="page-link">{{num}}</a>
    </li>
    <!---->
    {% elif num > page_obj.numer|add:-3 and num < page_obj.number|add:3 %}
    <li class="page-item">
      <a href="?page={{num}}" class="page-link">{{num}}</a>
    </li>
    {% endif %}
    <!--  -->
    {% endfor %}
    <!-- -->
    {% if page_obj.has_next %}
    <!-- -->
    {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
    <li class="page-item">
      <a class="page-link">...</a>
    </li>
    <li class="page-item">
      <a href="?page={{page_obj.paginator.num_pages}}" class="page-link">
        {{page_obj.paginator.num_pages}}
      </a>
    </li>
    <li class="page-item">
      <a href="?page={{ page_obj.next_page_number }}" class="page-link">
        Next &raquo;
      </a>
    </li>
    {% elif page_obj.number < page_obj.paginator.num_pages|add:'2' %}
    <li class="page-item">
      <a href="?page={{page_obj.paginator.num_pages}}" class="page-link">
        {{page_obj.paginator.num_pages}}
      </a>
    </li>
    <li class="page-item">
      <a href="?page={{ page_obj.next_page_number }}" class="page-link">
        Next &raquo;
      </a>
    </li>
    {% else %}
    <li class="page-item" disabled>
      <a class="page-link">Next &raquo;</a>
    </li>
    {% endif %} {% endif %}
  </ul>
  {% endif %}
</div>
<!-- end pagination -->
